{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000010", "request": {"foo": "value 10", "bar": "value 10"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000010", "routing": {"foo": "value 10", "bar": "value 10"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000010", "response": {"foo": "value 10", "bar": "value 10"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}

{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment_processing.request", "data": {"operation_id": "10", "request": {"foo": "value 10", "bar": "value 10"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment_processing.response", "data": {"operation_id": "10", "response": {"foo": "value 10", "bar": "value 10"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}

{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000011", "request": {"foo": "value 11", "bar": "value 11"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000011", "routing": {"foo": "value 11", "bar": "value 11"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000011", "response": {"foo": "value 11", "bar": "value 11"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000012", "request": {"foo": "value 12", "bar": "value 12"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000012", "routing": {"foo": "value 12", "bar": "value 12"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000012", "response": {"foo": "value 12", "bar": "value 12"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000013", "request": {"foo": "value 13", "bar": "value 13"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000013", "routing": {"foo": "value 13", "bar": "value 13"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000013", "response": {"foo": "value 13", "bar": "value 13"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000014", "request": {"foo": "value 14", "bar": "value 14"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000014", "routing": {"foo": "value 14", "bar": "value 14"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000014", "response": {"foo": "value 14", "bar": "value 14"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000015", "request": {"foo": "value 15", "bar": "value 15"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000015", "routing": {"foo": "value 15", "bar": "value 15"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000015", "response": {"foo": "value 15", "bar": "value 15"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}

{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000021", "request": {"foo": "value 21", "bar": "value 21"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000022", "request": {"foo": "value 22", "bar": "value 22"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000023", "request": {"foo": "value 23", "bar": "value 23"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000024", "request": {"foo": "value 24", "bar": "value 24"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.request", "data": {"request_id": "00000000-0000-0000-0000-000000000025", "request": {"foo": "value 25", "bar": "value 25"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000021", "routing": {"foo": "value 21", "bar": "value 21"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000022", "routing": {"foo": "value 22", "bar": "value 22"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000023", "routing": {"foo": "value 23", "bar": "value 23"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000024", "routing": {"foo": "value 24", "bar": "value 24"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.routing", "data": {"request_id": "00000000-0000-0000-0000-000000000025", "routing": {"foo": "value 25", "bar": "value 25"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000021", "response": {"foo": "value 21", "bar": "value 21"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000022", "response": {"foo": "value 22", "bar": "value 22"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000023", "response": {"foo": "value 23", "bar": "value 23"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000024", "response": {"foo": "value 24", "bar": "value 24"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
{"timestamp": "2025-02-19T21:20:00.123456789Z", "context": {"interaction-log": {"operation": "payment.response", "data": {"request_id": "00000000-0000-0000-0000-000000000025", "response": {"foo": "value 25", "bar": "value 25"}}}}, "message": "{MESSAGE}", "level": "{LEVEL}", "level_name": "{LEVEL_NAME}", "channel": "{CHANNEL}", "datetime": "{DATETIME}", "extra": "{EXTRA}", "textPayload": "{TEXTPAYLOAD}", "severity": "{SEVERITY}", "resource": "{RESOURCE}"}
